@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito&family=Open+Sans&display=swap");

.footer {
  box-shadow: 0 0 8px #b8b8b8;
  background-color: white;
}

.footer_allContents {
  display: flex;
  justify-content: space-evenly;
}

.footer_title {
  padding-top: 30px;
  font-size: 21px;
  padding-bottom: 10px;
  font-family: "Nunito";
}

.footer_content {
  font-family: "Nunito";
  font-size: 15px;
}

.social_icons {
  margin-top: 50px;
}

.facebook,
.twitter,
.linkedin,
.insta {
  padding: 10px 20px 40px;
}
